# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List of popular languages for Data Science
- Libraries commonly used by Data Scientists
- Using expressions in Python
- Creating & formatting tables using Markdown

Some of the popular languages that Data Scientists use are: 

1. Phython
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Pandas
3. Matplotlib

|   Data Science Tools  |
|-----------------------|
|        IBM Watson Studio         |
|        RStudio         |
|      Jupyter       |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers

In [15]:
multadd = (3*4)+5
print(multadd)

17

This will convert 200 minutes to hours by diving by 60

In [13]:
minutes = 200
hour = 60

minconvert = (minutes/hour)
print(minconvert)

3.3333333333333335

## Author
Aidan Wickham